/web/assets2
/web/assets/global/plugins2.zip
/mock/admin_3_angularjs/implicit.js
node_modules
npm-debug.log
dist
.tmp
bower_components
*.DS_Store
config/app/vdj_pipe
config/systems/*
.idea

# ignore compiled sass and minified assets
web/assets/global/css
web/assets/global/plugins/bootstrap/css
web/assets/layouts/layout/css
web/assets/layouts/compute/css
web/assets/pages/css
web/assets/*.min.js
